* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #fff;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 40px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0,0,0,0));
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

header.scrolled {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header .container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 70px;
  width: auto;
  display: block;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

header.scrolled nav a {
  color: #222;
}

header.scrolled nav a:hover {
  color: #1db954;
}

.lang {
  color: white;
  font-size: 14px;
  transition: color 0.3s;
}

header.scrolled .lang {
  color: #222;
}

.hero {
  background: url('/images/banner1.png') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  margin-top: 0;
}

.hero::after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
}

.hero-content {
  z-index: 1;
  text-align: center;
}

.hero-content h1 {
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 1.3;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background: #1db954;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 50px;
  font-weight: bold;
}

.destaques {
  padding: 80px 80px 40px;
  background-color: #fff;
}

.destaques h2 {
  font-size: 3.2rem;
  color: #2e7d32;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.destaques p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 40px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.288);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.438);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  font-size: 1rem;
  margin: 12px 16px 6px;
  color: #222;
  font-weight: bold;
}

.sobre {
  padding: 80px 80px 40px;
  background-color: #fff;
}

.sobre h2 {
  font-size: 3.2rem;
  color: #2e7d32;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.sobre p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 40px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.sobre h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.galeria-custom {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  padding: 0 40px;
  max-width: 100%;
  margin-bottom: 40px;
  align-items: start;
}

.img-esquerda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.img-direita {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-cima img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.img-baixo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.img-baixo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Responsivo 
@media (max-width: 900px) {
  .galeria-custom {
    grid-template-columns: 1fr;
  }

  .img-baixo {
    grid-template-columns: 1fr;
  }
} */

.descricao-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.sobre .descricao-wrapper{
  padding: 0 40px;
}

.descricao-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.descricao {
  flex: 1;
  min-width: 300px;
  max-width: 800px;
  font-size: 18px;
  color: #333;
  line-height: 1.8;
}

.imagem-destaque-wrapper {
  flex-shrink: 0;
  margin-top: 60px;
  margin-left: 20px;
}

.imagem-destaque {
  width: 280px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.visao-missao-valores {
  text-align: center;
  padding: 60px 20px;
  background-color: #fff;
}

.visao-missao-valores h2 {
  font-size: 3.2rem;
  color: #2e7d32;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.cartao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.cart {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.288);
  padding: 30px 20px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s;
}

.cart:hover {
  transform: translateY(-5px);
}

.cart img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  background-color: #1db954;
  padding: 10px;
  border-radius: 12px;
  filter: brightness(0) invert(1);
}

.cart h3 {
  font-size: 2rem;
  color: #2e7d32;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.cart p {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

.pilotos {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.pilotos h2 {
  font-size: 3.2rem;
  margin-bottom: 40px;
}

.grid-pilotos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.piloto {
  border-radius: 12px;
  overflow: hidden;
  background-color: #f8f8f8;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.piloto:hover {
  transform: translateY(-5px);
}

.piloto img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.piloto p {
  padding: 10px 15px;
  font-size: 13px;
  text-align: left;
  color: #333;
}

.eurismar {
  padding: 60px 20px;
  background-color: #fff;
}

.eurismar-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  gap: 40px;
  align-items: flex-start;
}

.fotos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 400px;
}

.fotinha {
  border-radius: 15px;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
}

.img-1 {
  height: 443.41px;
  aspect-ratio: 595 / 443.41;
}

.img-2 {
  height: 330.4px;
  aspect-ratio: 595 / 330.4;
}

.img-3 {
  height: 756px;
  aspect-ratio: 595 / 756;
}

.texto-eurismar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 872px;
  height: 1652.91px;
}

.texto-eurismar h2 {
  font-size: 3.2rem;
  margin-bottom: 10px;
}

.texto-eurismar p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 16px;
}

.texto-eurismar h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 20px;
}

.texto-eurismar ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

.texto-eurismar ul li {
  margin-bottom: 8px;
}

strong {
  color: #1db954;
  font-weight: bold;
}

.loja {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.loja h2 {
  font-size: 3.2rem;
  color: #1db954;
  margin-bottom: 10px;
}

.loja p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 40px;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.produto {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 200px;
  transition: transform 0.3s ease;
}

.produto:hover {
  transform: translateY(-5px);
}

.produto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.produto h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.preco {
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}


.blog-destaques {
  padding: 60px 20px;
  text-align: center;
  background: #fff;
}

.blog-titulo {
  font-size: 3.2rem;
  color: #3baa49;
  margin-bottom: 10px;
}

.blog-subtitulo {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 40px;
}

.blog-destaques-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.coluna-esquerda {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 10px;
}

.card.pequeno {
  width: 368px;
  height: 368px;
  flex-shrink: 0;
  border-radius: 15px;
  background: lightgray 50% / cover no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: white;
  text-align: left;
}

.coluna-direita {
  flex-shrink: 0;
}

.card.grande {
  width: 751px;
  height: 752px;
  flex-shrink: 0;
  border-radius: 15px;
  background: lightgray 50% / cover no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: white;
  text-align: left;
}

.card-texto {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.card-texto .tag {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
  display: block;
}

.card-texto h3 {
  font-size: 16px;
  margin: 0;
  line-height: 1.4;
  color: #fff;
}

.botao-central {
  margin-top: 40px;
}

.btn-verde {
  background-color: #3baa49;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.btn-verde:hover {
  background-color: #32903b;
}

footer {
  background-color: #3baa49;
  color: white;
  padding: 40px 20px 20px;
  font-size: 14px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-left,
.footer-right {
  flex: 1;
  min-width: 280px;
}

.footer-left h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}

.footer-left p {
  margin-bottom: 5px;
}

.social-icons a img {
  width: 24px;
  margin-right: 10px;
  margin-top: 10px;
  filter: brightness(0) invert(1);
}

.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.footer-right ul li a {
  color: white;
  text-decoration: none;
}

.footer-right ul li a:hover {
  text-decoration: underline;
}

.cadastur-logo {
  max-width: 120px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 12px;
}

.footer-bottom a {
  color: white;
  text-decoration: underline;
  margin-left: 10px;
}