* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #fff;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 40px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0,0,0,0));
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

header.scrolled {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header .container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 70px;
  width: auto;
  display: block;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

header.scrolled nav a {
  color: #222;
}

header.scrolled nav a:hover {
  color: #1db954;
}

.lang {
  color: white;
  font-size: 14px;
  transition: color 0.3s;
}

header.scrolled .lang {
  color: #222;
}

.hero {
  background: url('/images/banner1.png') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  margin-top: 0;
}

.hero::after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
}

.hero-content {
  z-index: 1;
  text-align: center;
}

.hero-content h1 {
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 1.3;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background: #1db954;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 50px;
  font-weight: bold;
}

.destaques {
  padding: 80px 80px 40px;
  background-color: #fff;
}

.destaques h2 {
  font-size: 3.2rem;
  color: #2e7d32;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.destaques p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 40px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.288);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.438);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  font-size: 1rem;
  margin: 12px 16px 6px;
  color: #222;
  font-weight: bold;
}

.sobre {
  padding: 80px 80px 40px;
  background-color: #fff;
}

.sobre h2 {
  font-size: 3.2rem;
  color: #2e7d32;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.sobre p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 40px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.sobre h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.galeria-custom {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  padding: 0 40px;
  max-width: 100%;
  margin-bottom: 40px;
  align-items: start;
}

.img-esquerda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.img-direita {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-cima img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.img-baixo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.img-baixo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Responsivo 
@media (max-width: 900px) {
  .galeria-custom {
    grid-template-columns: 1fr;
  }

  .img-baixo {
    grid-template-columns: 1fr;
  }
} */

.descricao-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.sobre .descricao-wrapper{
  padding: 0 40px;
}

.descricao-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.descricao {
  flex: 1;
  min-width: 300px;
  max-width: 800px;
  font-size: 18px;
  color: #333;
  line-height: 1.8;
}

.imagem-destaque-wrapper {
  flex-shrink: 0;
  margin-top: 60px;
  margin-left: 20px;
}

.imagem-destaque {
  width: 280px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



footer {
  background-color: #3baa49;
  color: white;
  padding: 40px 20px 20px;
  font-size: 14px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-left,
.footer-right {
  flex: 1;
  min-width: 280px;
}

.footer-left h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}

.footer-left p {
  margin-bottom: 5px;
}

.social-icons a img {
  width: 24px;
  margin-right: 10px;
  margin-top: 10px;
  filter: brightness(0) invert(1);
}

.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.footer-right ul li a {
  color: white;
  text-decoration: none;
}

.footer-right ul li a:hover {
  text-decoration: underline;
}

.cadastur-logo {
  max-width: 120px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 12px;
}

.footer-bottom a {
  color: white;
  text-decoration: underline;
  margin-left: 10px;
}